# Ignore all files in the vendor directory
vendor/*


router-integration/echo-integration/monigo/*
router-integration/fiber-integration/monigo/*
router-integration/gin-integration/monigo/*
router-integration/gorilla-mux-integration/monigo/*
router-integration/standard-mux-integration/monigo/*